body {
    background-image: url(station.jpg);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-size: cover;    
    text-align: center; 
}
.container {
   border: 5px solid;
   max-width: 80%;
   margin: auto;
   border-radius: 10px;
   padding: 20px 20px;
   margin: 30% 25%;
   background-color: rgb(235, 228, 220);
   

}
 h1 {
    margin-bottom: -25px;

 }

 h2 {
    margin: 20px;
    font-size: 50px;
 }

 button {    
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;

 }
 button:hover{
    opacity: 0.5;
    background-color: gray;
 }
 #increment-btn, #save-btn,#decrement-btn{
    font-size: larger; 
    font-variant: small-caps;
 }
#increment-btn {
   background-color: blue;
}
#decrement-btn {
   background-color: red;
}
#save-btn {
   background-color: green;
}
 p {
   font-weight: bold
 }
